@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="welcome">Välkommen till Hotels Medelandecentralen</h1>

        <button type="button" class="btn btn-primary btn-chat" onclick="startChat()">
            <img src="~/images/chat-symbol.png" class="chat-symbol" alt="" />&nbsp;&nbsp;&nbsp;Starta chatt
        </button>
        <ul id="startChat">hh</ul>
    </div>
